@model Cart

<div class="row">
    @if (Model.CartLines.Count != 0)
    {
        <div class="col">
            <div class=" table-responsive-sm bg-white rounded shadow">
                <table class="table rounded">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product Photo</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price($)</th>
                            <th scope="col">Quantity</th>
                            <th class="text-center">Update Quantity</th>
                            <th class="text-center">Remove</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartline in Model.CartLines)
                        {
                            <tr>
                                <th scope="row">
                                    <div>
                                        <img src="~/images/products/profil/@cartline.Product.ProfilImage" style="max-width:40px;max-height:40px;" />
                                    </div>
                                </th>
                                <td>@cartline.Product.ProductName</td>
                                <td>@cartline.CurrentProductPrice</td>
                                <td>@cartline.Quantity</td>
                                <td>
                                    <form method="post" asp-action="UpdateQuantity">
                                        <div class="form-row p-0 m-0">
                                            <input type="number" name="cartLineIndex" value="@Model.CartLines.IndexOf(cartline)" hidden />

                                            <div class="form-group col-12 p-1 m-0 text-center">
                                                <input type="number" name="quantity"
                                                       max="@(cartline.Product.AvailableAmount - cartline.Quantity)"
                                                       min="-@cartline.Quantity" step="1" value="0"
                                                       class="btn bg-white text-info btn-outline-info m-0 p-1 text-center"
                                                       style="padding-left:0 !important;padding-right:0 !important;" />

                                                <input type="submit" class="btn btn-outline-success p-1" value="Update" />
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="text-center">
                                    <a asp-controller="Cart" asp-action="RemoveProduct" asp-route-ProductId="@cartline.Product.ProductId" class="btn btn-outline-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td class="text-success font-weight-bold">@cartline.CartLinePrice</td>
                            </tr>
                        }

                        <tr>
                            <td scope="row" colspan="7">
                                <div class="row m-0">
                                    <div class="col-3 text-center p-0">
                                        <a asp-controller="Cart" asp-action="ClearCart" class="btn btn-outline-danger float-left m-1">Clear Cart  <i class="fas fa-trash-alt"></i></a>
                                    </div>

                                    <div class="col text-center p-0">
                                        <div class="row">
                                            <div class="col">

                                                <a asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-success float-right m-1">
                                                    Checkout (Bill : @Model.GetBill()$)
                                                </a>
                                                <a asp-controller="Home" asp-action="Index" class="btn  btn-outline-info float-right m-1">Continue Shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    }
    else
    {
        <div class="col-sm-12">
            <div class="row  mt-lg-5  mt-5 mt-md-5 mt-sm-5 mt-xl-5">
                <div class="col text-center">
                    <img src="~/images/EmptyCart.gif" class="w-25 mt-lg-2  mt-2 mt-md-4 mt-sm-4 mt-xl-2" />
                </div>
            </div>

            <div class="row">
                <div class="col text-secondary text-center">
                    <h3>Your cart is empty</h3>
                </div>
            </div>

        </div>
    }
</div>
