<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyShop</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/css/UI/NewSite.css" rel="stylesheet" />
    <link href="@Url.Content("~/css/UI/_Layout.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <script src="https://kit.fontawesome.com/31f0e95b95.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow">
        <div class="container text-center">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" style="        width: 200px;" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContents">
                <ul class="navbar-nav mr-auto text-center justify-content-center">
                    <li class="nav-item-active">
                        <a asp-controller="Product" asp-action="Index" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownProducts" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>

                        <div class="dropdown-menu text-center" aria-labelledby="dropdownProducts">
                            <a class="dropdown-item" asp-controller="Product" asp-action="GetProducts" asp-route-sortType="lp">Lowest Price</a>
                            <a class="dropdown-item" asp-controller="Product" asp-action="GetProducts" asp-route-sortType="hp">Highest Price</a>
                            <a class="dropdown-item" asp-controller="Product" asp-action="GetProducts" asp-route-sortType="bs">Best Sellers</a>
                            <a class="dropdown-item" asp-controller="Product" asp-action="GetProducts" asp-route-sortType="n">The Newests</a>
                            <a class="dropdown-item" asp-controller="Product" asp-action="GetProducts" asp-route-sortType="d">Discounted</a>
                            <div class="dropdown-diveder"></div>
                            <a class="dropdown-item" asp-controller="Product" asp-action="GetProducts" asp-route-sortType="a">All Products</a>
                        </div>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Orders">Admin Page</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">About</a>
                    </li>
                </ul>

                <a class="home-cart m-2" asp-controller="Cart"  asp-action="Index" style="text-decoration: none;">
                    Cart<i class="fas fa-cart-arrow-down"></i><span class="cart-count shadow">@await Component.InvokeAsync("CartProductCount")</span>
                </a>

                <div class="row justify-content-center m-2">

                    <form asp-controller="Product" asp-action="SearchProduct" class="form-inline">
                        <div class="search-box p-0">
                            <input class="search-txt" name="SearchKeyword" type="text" placeholder="Type to search" aria-label="Search">
                            <button type="submit" class="search-btn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>

                </div>

                <div class="row justify-content-center m-2">

                    @*<partial name="_LoginPartial" />*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Logout" class="my-color my-log-btn">
                            <i class="far fa-user"></i> <i class="fas fa-sign-out-alt"></i>
                            <span style="font-size: 12px;  display: block;">Logout</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="my-color my-log-btn">
                            <i class="fas fa-sign-in-alt"></i> <i class="far fa-user"></i>
                            <span style="        font-size: 12px;
        display: block;">Login</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col" style="height: 2rem;">

                </div>
            </div>

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center" style="        color: #032D33;
        font-weight: bold;">
            &copy; 2019 - EasyShop
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
