@model List<Brand>
@{
    ViewData["Title"] = "BrandList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int rowId = 0;
}

@*<h6>@ViewData["filelocation"]</h6>*@

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 border p-2 rounded bg-white shadow" style="margin-bottom:3rem;">
                <h1 class="text-center card-header ">Brand List</h1>
                <table class="table table-hover">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col" style="text-align-last:center">Logo</th>
                            <th scope="col" style="text-align-last:center">Count of Products</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="BrandTableBody">
                        @foreach (var brand in Model)
                        {
                            <tr>
                                <td scope="row">@(++rowId)</td>
                                <td>@brand.BrandName</td>
                                <td class="text-center">
                                    <img src="~/images/BrandLogo/@brand.BrandLogo" style="width:50px; background:white;" />
                                </td>
                                <td class="text-center">
                                    @brand.Products.Count
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-outline-success text-center" data-toggle="modal" data-target=@("#updateModal"+ brand.BrandId)>
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <a asp-controller="Admin" asp-action="DeleteBrand" asp-route-id="@brand.BrandId" class="btn btn-outline-danger desc-btn">
                                        <i class="fas fa-trash-alt"></i>
                                        <p class="btn-description">If you remove this brand then you will remove related products!</p>
                                    </a>

                                    @Html.Partial("AdminPartials/UpdateBrandForm", brand)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row text-center">
                    <div class="col  text-center">
                        <button class="btn btn-outline-dark w-100 p-2" data-toggle="modal" data-target="#AddBrandModal">Add</button>

                        @Html.Partial("AdminPartials/AddBrandForm", new AddBrandModel())


                        <!-- section AddScripts{
                        <script>

                            $("#AddBrandForm").submit(function (event) {
                                event.preventDefault();
                                var form = $(this);

                                var token = $('input[name="__RequestVerificationToken"]', form).val();
                                var payload = new FormData();
                                payload.append('brandName', $("#BrandName").val())
                                payload.append('brandLogo', $("#BrandLogo")[0].files[0])
                                payload.append('__RequestVerificationToken', token)

                                $.ajax(
                                    {
                                        url: form.attr("action"),
                                        type: "POST",
                                        data: payload,
                                        processData: false,
                                        contentType: false,
                                        beforeSend: function () {
                                            $("#form-loader").show();
                                        },
                                        complete: function () {
                                            $("#form-loader").hide();
                                        },
                                        success: function (data) {
                                            console.log(data);

                                            var html = '<tr><td scope="row">' + data[0] + '</td>'+
                                                            '<td>'+ data[2] +'</td>'+
                                                            '<td class="text-center">'+
                                                                '<img src="~/images/BrandLogo/'+ data[3] +'" style="width:50px; background:white;" />'+
                                                            '</td>'+
                                                            '<td class="text-center">'+ 0 +
                                                            '</td>'+
                                                            '<td class="text-center">'+
                                                                '<button type="button" class="btn btn-outline-success text-center"+
                                                                    '<i class="fas fa-pencil-alt"></i>'+
                                                                '</button>'+
                                                                '<a asp-controller="Admin" asp-action="DeleteBrand" asp-route-id="' + data[1] + '" class="btn btn-outline-danger desc-btn">'+
                                                                    '<i class="fas fa-trash-alt"></i>'+
                                                                    '<p class="btn-description">If you remove this brand then you will remove related products!</p>'+
                                                                '</a>' +
                                                            '</td></tr>';

                                            $("#BrandTableBody").append(html);
                                            $("#AddBrandModal").modal('hide');
                                        },
                                        error: function () {

                                        }

                                    });
                            });
                        </script>
                        }-->

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
